.buttons-btw-pager {
    width: 47.5%;
    display: block;
    float: left;
}

html .wizard-progress .wizard-steps li a,
html.dark .wizard-progress .wizard-steps li a {
	position: relative;
	display: block;
	padding: 25px 8px 0;
	font-size: 11px;
	color: #33333f;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	word-break: break-word;
}

.no-click {
	pointer-events: none;
}

.form-group label span[data-toggle="tooltip"]:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f05a";
	margin-left: 4px;
}

.enable-row,
.disable-row {
	color: white !important;
	padding: 5px 5px;
	font-size: 10px;
}